{% extends 'bootstrap_modal.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block modal_id %}create-hospitalization{% endblock %}

{% block modal_header %}
    <h4 class="modal-title">Nova internação</h4>
{% endblock %}

{% block modal_body %}
    <form id="create-hospitalization-form" method="post" action="{% url 'monitoring:hospitalization-create' profile.id %}">
        {% csrf_token %}
        <label for="id_health_center_0" class=" requiredField">
            Unidade de Saúde para Internação <span class="asteriskField">*</span>
        </label>
        <div class="form-inline mb-2">
            <input id="search-health_center" class="form-control col-6 mr-2 " name="healthcenter_term"
                    placeholder="Nome, código CNES, código IBGE, CEP...">
            <div class="col-4">
                <a id="search_health_center_button" class="btn btn-secondary text-white">Pesquisar</a>
            </div>
        </div>
        <div id="div_id_health_center" class="form-group">
            <!-- aqui vem os health_centers encontrados><!-->
            <select name="health_center" class="select form-control" id="id_health_center">
                <option value="" selected="">---------</option>
            </select>
        </div>
        {{ hospitalization_form.bed_type|as_crispy_field }}
        {{ hospitalization_form.entry|as_crispy_field }}
        {{ hospitalization_form.departure|as_crispy_field }}
        <input name="profile" class="select form-control" required id="id_profile" value="{{ profile.id }}" hidden>
    </form>
    <script src="{% static 'scripts/hospitalization_create.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}

{% block modal_footer %}
    <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
    <input type="submit" form="create-hospitalization-form" class="btn btn-primary" value="Criar">
{% endblock %}
